body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1660px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:16px;
  width:303px;
  height:434px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:444px;
}
#u1 {
  position:absolute;
  left:2px;
  top:209px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:360px;
  top:28px;
  width:1320px;
  height:60px;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:60px;
}
#u3 {
  position:absolute;
  left:0px;
  top:14px;
  width:1320px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:360px;
  top:98px;
  width:1320px;
  height:60px;
  font-size:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:60px;
}
#u5 {
  position:absolute;
  left:0px;
  top:14px;
  width:1320px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:360px;
  top:168px;
  width:1320px;
  height:60px;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:60px;
}
#u7 {
  position:absolute;
  left:0px;
  top:14px;
  width:1320px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:360px;
  top:238px;
  width:1320px;
  height:60px;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:60px;
}
#u9 {
  position:absolute;
  left:0px;
  top:14px;
  width:1320px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:360px;
  top:308px;
  width:1320px;
  height:60px;
  font-size:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:60px;
}
#u11 {
  position:absolute;
  left:0px;
  top:14px;
  width:1320px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:360px;
  top:378px;
  width:1320px;
  height:60px;
  font-size:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:60px;
}
#u13 {
  position:absolute;
  left:0px;
  top:14px;
  width:1320px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:950px;
  top:28px;
  width:200px;
  height:200px;
  overflow:hidden;
}
#u14_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14_state6 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
